{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin accueil{% endblock %}

{% block body %}
    <h1>ACCUEIL ACTUALITE</h1>

    <table id="myTable" class="table table-Default table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <!-- <th>Title</th> -->
                <th class="subtitle">Sous-titre</th>
                <th>Description</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>{{ home.subtitle }}</td>
                <td>{{ home.description }}</td>
                <td>
                    {# <a href="{{ path('home_show', {'id': home.id}) }}">show</a> #}
                    <a class="edit" href="{{ path('home_edit', {'id': home.id}) }}">ÉDITER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
        <a class="backList" href="{{ path('home_new') }}"><span> Créer une nouvelle actualité</span></a>
  
   
</div>
   
{% endblock %}
