{% extends 'base.html.twig' %}

{% block title %}Videos index{% endblock %}

{% block body %}
    <h1>Videos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleVideo</th>
                <th>SubtitleVideo</th>
                <th>CategoryVideo</th>
                <th>InfoVideo</th>
                <th>LinkVideo</th>
                <th>YearsVideo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.titleVideo }}</td>
                <td>{{ video.subtitleVideo }}</td>
                <td>{{ video.categoryVideo }}</td>
                <td>{{ video.infoVideo }}</td>
                <td>{{ video.linkVideo }}</td>
                <td>{{ video.yearsVideo ? video.yearsVideo|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('videos_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('videos_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('videos_new') }}">Create new</a>
{% endblock %}
