{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin vidéos
{% endblock %}


{% block body %}

 <h1>VIDEOS</h1>
	{# ------------------------VIDEO--------------------------------- #}
	<table class="table table-Default table-hover table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Catégorie</th>
				<th>Sous-titre</th>
				<th>Année du trail</th>
				<th>Info</th>
				<th>Lien vidéo</th>
				<th>Image</th>
				<th>Année Video</th>
				<th>Modifier</th>
			</tr>
		</thead>
		<tbody>
		
			{% for video in videos %}
				<tr>
					<td>{{ video.id }}</td>
					<td>{{ video.titleVideo }}</td>
					<td>{{ video.subtitleVideo }}</td>
					<td>{{ video.categoryVideo }}</td>
					<td>{{ video.infoVideo|raw }}</td>
					<td>{{ video.linkVideo }}</td>
					<td><img src="{{ asset('uploads/photos/' ~ video.pictureVideo) }}" width="100"></td>
					<td>{{ video.yearsVideo }}</td>
					<td>
						{# <a href="{{ path('videos_show', {'id': video.id}) }}">show</a> #}
					
						<a class="edit" href="{{ path('videos_edit', {'id': video.id}) }}">ÉDITER</a>																											                  
				</tr>
				{ {% else %} }
				<tr>
					<td colspan="8">no records found</td>
				</tr>
				{ {% endfor %} }
			</tbody>
		</tbody>
	</table>

	<a class="backList" href="{{ path('videos_new') }}"><span> Créer une nouvelle vidéo</span>
	


{% endblock %}
