{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin photos
{% endblock %}

{% block body %}

  <h1>PHOTOS</h1>
	
	<table  id="myTable" class="table table-Default table-hover table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th class="subtitle">Photo</th>
				<th>sous-titre</th>
				{# <th>InfoPicture</th> #}
				<th class="subtitle">Lien photo</th>
				<th>Année</th>
				<th>Modifier</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>{{ picture.id }}</td>
					<td>{{ picture.titlePicture }}</td>
					<td>{{ picture.subtitlePicture }}</td>
					<td>{{ picture.categoryPicture }}</td>
					{# <td>{{ picture.infoPicture|raw }}</td> #}
					<td>{{ picture.linkPicture }}</td>
					<td>{{ picture.yearsPicture ? picture.yearsPicture|date('Y-m-d') : '' }}</td>
					<td>
						{# <a href="{{ path('pictures_show', {'id': picture.id}) }}">show</a> #}
						<a class="edit" href="{{ path('pictures_edit', {'id': picture.id}) }}">ÉDITER</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="backList" href="{{ path('pictures_new') }}"><span>Créer une nouvelle photo</span></a>
	

 

{% endblock %}
