{% extends 'baseAdmin.html.twig' %}

{% block title %}Paramétere{% endblock %}

{% block body %}
    <h1>PARAMETRE DATE</h1>

    <table id="myTable" class="table table-Default table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.eventSetting ? setting.eventSetting|date('Y-m-d') : '' }}</td>
                <td>
                    {# <a href="{{ path('settings_show', {'id': setting.id}) }}">show</a> #}
                    <a class="edit"  href="{{ path('settings_edit', {'id': setting.id}) }}">ÉDITER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="backList" href="{{ path('settings_new') }}"><span> Créer une nouvelle date</span></a>
{% endblock %}
