{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin courses{% endblock %}

{% block body %}
    <h1>COURSES</h1>

    <table id="myTable" class="table  table-Default table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleRace</th>
                <th>DescriptionRace</th>
                <th>InfoRace</th>
                <th>LinkRace</th>
                <th>PictureRace</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.titleRace }}</td>
                <td >{{ race.descriptionRace|raw }}</td>
                <td>{{ race.infoRace|raw }}</td>
                <td>{{ race.linkRace }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ race.pictureRace)}}" width="100"></td>
                {# <td>{{ race.pictureRace }}</td> #}
                <td>
                    {# <a href="{{ path('races_show', {'id': race.id}) }}">show</a> #}
                    <a class="edit" href="{{ path('races_edit', {'id': race.id}) }}">ÉDITER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="backList" href="{{ path('races_new') }}"><span> Créer une nouvelle course</span></a>
   
{% endblock %}
