{% extends 'base.html.twig' %}

{% block title %}Races{% endblock %}

{% block body %}

 
    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>TitleRace</th>
                <td>{{ race.titleRace }}</td>
            </tr>
            <tr>
                <th>DescriptionRace</th>
                <td>{{ race.descriptionRace }}</td>
            </tr>
            <tr>
                <th>InfoRace</th>
                <td>{{ race.infoRace }}</td>
            </tr>
            <tr>
                <th>LinkRace</th>
                <td>{{ race.linkRace }}</td>
            </tr>
            <tr>
                <th>PictureRace</th>
                 <td><img src="{{ asset('uploads/photos/' ~ race.pictureRace)}}" width="100"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('races_index') }}">back to list</a>

    <a href="{{ path('races_edit', {'id': race.id}) }}">edit</a>

 {{ include('races/_delete_form.html.twig') }} 

 -------------------RACE------------------------  #}

<body>
    <section>
        <div class="imgRunPage">
            <img src="/img/run.jpg" alt="">
        </div>
        <div class="container containerRun py-5">
           
            <div class="row boxRun py-5 mt-5">
                <div class="col-md-6 Run">
                    <div class="titleRun text-center mb-5">
                        <h1>{{ race.titleRace }}</h1>
                    </div>

                    <div class="descriptionRun text-justify mb-5">
                        <p>{{ race.descriptionRace }}</p>
                    </div>

                    <div class="infoRun text-center mb-5">
                        <p>{{ race.infoRace }}</p>
                    </div>

                    <div class="RunLink text-center">
                        <a href="{{ race.linkRace }}">Pré-inscription</a>
                    </div>


                </div>



                <div class="col-md-6 text-center boximgRun">
                    <span class="verticalLine">
                    <img src="{{ asset('uploads/photos/' ~ race.pictureRace)}}" width="500">
                </span>
                </div>



            </div>
        </div>
    </section>
</body>

 {# -------------END------RACE------------------------ #}
{% endblock %}

