{% extends 'base.html.twig' %}

{% block title %}Courses | Trail des jambes Allaire
{% endblock %}

{% block body %}

	


	<section class="raceSection">
	
			<div class="imgRunPage"></div>
		
		<div class="container containerRun py-5">
			

			<div class="row boxRun py-5 mt-5">
				<div class="col-sm-6 Run">
					<div class="titleRun text-center mb-5">
						<h1>{{ race.titleRace }}</h1>
					</div>

					<div class="descriptionRun text-justify mb-5">
						<p>{{ race.descriptionRace|raw}}</p>
					</div>

					<div class="infoRun text-center mb-5">
						<p>{{ race.infoRace|raw }}</p>
					</div>

					<div class="RunLink text-center">
						<a href="{{ race.linkRace }}">Pré-inscription</a>
					</div>


				</div>


				<div class="col-sm-6 text-center boximgRun">
					<span class="verticalLine">
						<img class="verticalPicture" src="{{ asset('uploads/photos/' ~ race.pictureRace)}}" width="500">
					</span>
				</div>


			</div>
		</div>
	</section>


	
{% endblock %}
