{% extends 'base.html.twig' %} {% block title %} Livre d'or | Trail des jambes Allaire {% endblock %} {%
block body %}


<section class="blog">
	<div class="container boxCommentItems">
		<div class="blog">
			<h1 class="titleComment">LE LIVRE D'OR DU TRAIL DES JAMBES ALLAIRE!</h1>
		</div>
		<p class="infoItem">
			Laissez-nous vos commentaires, ou votre retour d'expérience avec nous :
		</p>
		{% for comment in comments %}

		<div class="title">
			<div class="boxPost">
				<h2>{{ comment.nameComment }}</h2>

				<P>{{ comment.commentComments }}</P>
			</div>
			<div class="link_Post">
				<a href="{{ path('addItem', { id: comment.id }) }}">Répondre</a>
				{# //Récupère  l'id dans l'url #}
			</div>
		</div>

		{# ------------------ITEM (MESSAGE)---------------------------------------- #}
   
		<div class="content">
			<button class="accordion">Réponse</button>
			<div class="panel">
				<div class="dateContent">
					{% for item in items %}
					
					{% if comment.id == item.comment.id %}

					<p class="paragraphItems">
						Posté le: {{ item.dateItem ? item.dateItem|date('d-m-Y') }}
					</p>

					{# //Pour changer le format de la date | #}

					<h2>{{ item.nameItem }}</h2>

					<P>{{ item.commentItem }}</P>

					{% endif %}
				
					 {% endfor %}
				</div>
			</div>
		</div>

		{% endfor %} {# --------------END----ITEM (MESSAGE)---------------------------------------- #}
    

		<div class="row boxCommentItems">
			<div class="col-sm-12 Comment">
				<h2 id="formBlog" class="titleItems">Ajouter un commentaire</h2>


				<div class="boxFormComment mt-5 mb-5">
					{# ------------------------FORMULAIRE AJOUTER UN COMMENTAIRE-------------- #}
          
					{{ form(form) }}

					{# // Lien RegisterTrailType.php #} {#  ------------------END------FORMULAIRE AJOUTER UN COMMENTAIRE-------------- #}
					
				</div>
			</div>
		</div>
	</div>

	<script src="{{ asset('js/goldenBook.js') }}"></script>
	
</section>
{% endblock %}