{% extends 'base.html.twig' %} {% block title %}Comments index {% endblock %} {%
block body %} {# {
<!-- <table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>TitleComment</th>
      <th>NameComment</th>
      <th>EmailComment</th>
      <th>CommentComments</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.id }}</td>
      <td>{{ comment.titleComment }}</td>
      <td>{{ comment.nameComment }}</td>
      <td>{{ comment.emailComment }}</td>
      <td>{{ comment.commentComments }}</td>
      <td>
        <a href="{{ path('comments_show', { id: comment.id }) }}">show</a>
        <a href="newcommentaires.php?ID_post=<?php echo $value1['Id'] ?>"
          >Ajouter un commentaire</a
        >
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->

<a href="{{ path('comments_new') }}">Create new</a> #}

<section class="blog">
	<div class="container boxCommentItems">
		<div class="blog">
			<h1 class="titleComment">LE LIVRE D'OR DU TRAIL DES JAMBES ALLAIRE!</h1>
		</div>

		<p class="infoItem">
			Laissez-nous vos commentaires, ou votre retour d'expérience avec nous : {#
      <a href="#formBlog">
        <i class="fas fa-arrow-circle-down"></i>
      </a>
      #}
		</p>

		{% for comment in comments %}

		<div class="title">
			<div class="boxPost">
				<h2>{{ comment.nameComment }}</h2>

				<P>{{ comment.commentComments }}</P>
			</div>
			<div class="link_Post">
				<a href="{{ path('addItem', { id: comment.id }) }}">Répondre</a>
				{# //Récupére l'id dans l'url #}
			</div>
		</div>

		{# ------------------ITEM (MESSAGE)----------------------------------------
    #}
		<div class="content">
			<button class="accordion">Réponse</button>
			<div class="panel">
				<div class="dateContent">
					{% for item in items %} {% if comment.id == item.comment.id %}

					<p class="paragraphItems">
						Posté le: {{ item.dateItem ? item.dateItem|date('m-d-Y') }}
					</p>

					{# //Pour changer le format de la date | #}

					<h2>{{ item.nameItem }}</h2>

					<P>{{ item.commentItem }}</P>

					{% endif %} {% endfor %}
				</div>
			</div>
		</div>

		{% endfor %} {# --------------END----ITEM
    (MESSAGE)---------------------------------------- #}

		<div class="row boxCommentItems">
			<div class="col-sm-12 Comment">
				<h2 id="formBlog" class="titleItems">Ajouter un commentaire</h2>
				<!-- <div class="buttonReload">
					<button type="button" class="reset">Rafraîchir le formulaire</button>  //Bouton pour rafraîchir le formulaire
				</div> -->

				<div class="boxFormComment mt-5 mb-5">
					{# ------------------------FORMULAIRE AJOUTER UN
          COMMENTAIRE-------------- #}
					{{ form(form) }}

					{# // Lien RegisterTrailType.php #} {#
          ------------------END------FORMULAIRE AJOUTER UN
          COMMENTAIRE-------------- #}
				</div>
			</div>
		</div>
	</div>

	<script src="{{ asset('js/goldenBook.js') }}"></script>
</section>
{% endblock %}