{% extends 'base.html.twig' %}

{% block title %}Trail des jambes Allaire - Site officiel
{% endblock %}

{% block body %}


{# <!-- ---------------------------------------CARROUSEL-------------------------- --> #}
<section class="headerCarousel">
	<div class="container-fluid col-sm-12 Container-Carousel">

		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

			<div class="carousel-inner">


				<div class="carousel-item active Img-Carrousel">

					<img src="img/carrousel1.JPG" class=" d-block w-100  pictureCarrousel" alt="coureur1">

					<div class="carousel-caption d-md-block titlePosition">
						<div class="titleCarrousel">
							<h1 class="trail">TRAIL</h1>
							<h2 class="Legs-alaire">DES JAMBES ALLAIRE</h2>
							<div id="message">
							{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
							{% endfor %}
						</div>
						</div>

					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carrousel2.jpg" class="d-block w-100" alt="coureur2">
					<div class="carousel-caption  d-md-block titlePosition">
						<div class="titleCarrousel">
							<h1 class="trail">TRAIL</h1>
							<h2 class="Legs-alaire">DES JAMBES ALLAIRE</h2>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carrousel3.jpg" class="d-block w-100" alt="coureur_enfant">
					<div class="carousel-caption  d-md-block titlePosition">
						<div class=" titleCarrousel ">
							<h1 class="trail">TRAIL</h1>
							<h2 class="Legs-alaire">DES JAMBES ALLAIRE</h2>
						</div>
					</div>
				</div>

			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
				data-bs-slide="prev">
				<span>
					<i class="fas fa-chevron-left" aria-hidden="true"></i>
				</span>
				<span class="visually-hidden">previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
				data-bs-slide="next">
				<span>
					<i class="fas fa-chevron-right" aria-hidden="true"></i>
				</span>
				<span class="visually-hidden">next</span>
			</button>

		</div>

	</div>


</section>

{# <!-- -------------------------API WEATHERMAP-------------------------- --> #}

<div id="weather">

	<div>
		<div class="row weatherHomes">
			<div class="col-9-lg-4"></div>

			<div class="col-3-lg-4">
				<p>Allaire</p>
				<div class="boxWeather">
					<span><img class="weather_ico" alt="image  temps"></span>
					<span class="weather_temperature"></span>
					<span class="weather_hour"></span>
				</div>
			</div>
		</div>
	</div>
</div>

{# <!-- ------------------END-------API WEATHERMAP-------------------------- -->
<!-- -------------------------------END--CARROUSEL-------------------------- -->

<!-- -------------------------------COMPTEUR-------------------------- --> #}
<section class="sectionCounter py-5">
	<div class="container">


		<h2 class="titleCounter">PROCHAIN TRAIL!</h2>


		{% for setting in settings %}
		<div class=" col-sm-12 dateCounter"> {{ setting.eventSetting ? setting.eventSetting|date('d-m-Y') : '' }}</div>


		<div class="row boxCounter">


			<div id="numbers" class="col-sm-12 col-md-12">


				<div class=" blockDays">
					<div class="block" id="days"></div>
				</div>

				<div class="blockHours">
					<div class="block" id="hours"></div>
				</div>

				<div class="blockMinutes">
					<div class="block" id="minutes"></div>
				</div>

				<div class="blockSeconds">
					<div class="block" id="seconds"></div>
				</div>

			</div>

		</div>

	</div>
	{% endfor %}


</section>


{# <!-- -------------------------END------COMPTEUR-------------------------- -->


<!-- -------------------------------ACTUALITE-------------------------- --> #}
<section id="who" class="parallax Section-parallax">

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12  pt-5 boxpresentation">
				{% for home in homes %}
				{% if home.id == 5 %}

				<div class="Actualite-Title">

					<h2>{{ home.subtitle }}</h2>
				</div>

				<div class="LogoSocios">
					<img class="Img-Logo" src="img/logo-socios.jpg" alt="logo-socio">
				</div>

				<div class="Paragraph-Socio">
					{{ home.description|raw }}
					{# Raw  pour interpréter le HTML corrige l' UTF8#}
				</div>
				{% endif %}
				{% endfor %}

			</div>


		</div>
	</div>


</section>
{# <!-- --------------------------END -----ACTUALITE-------------------------- -->

<!-- -------------------------------PARTENAIRES-------------------------- --> #}
<section class="sponsor">


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 partenaires">
				<div class="Carousel-Partenaires w-100">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-caption d-none d-md-block titleCarrousel"></div>
						<div class="carousel-inner">
							<h3 class="titlePartner mb-5">LES PARTENAIRES</h3>
							<h4 class="titlePartner mb-5">Un grand merci à nos partenaires et bénévoles</h4>
							{%  set isFirst = true %}
							{% set x = 0 %}
							{% for partner in partners %}
							{% set x = x + 1 %}
							{% if x == 1 %}

							<div
								class="carousel-item tex-center align-middle {% if loop.index0 == 0 %} active  {% endif %}">
								{% if isFirst == true %}
								<div class="item active">
									{% else %}
									<div class="item">
										{% endif %}
										{% endif %}
										<img src="{{ asset('uploads/photos/' ~ partner.picturePartner) }}" alt=""
											width="200">

										{% if x == 2 %}
									</div>
								</div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span>
										<i class="fas fa-chevron-left" aria-hidden="true"></i>
									</span>
									<span class="visually-hidden"></span>
								</button>

								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span>
										<i class="fas fa-chevron-right" aria-hidden="true"></i>
									</span>
									<span class="visually-hidden"></span>
								</button>
								{% set x = 0 %}
								{% endif %}
								{% endfor %}
							</div>

						</div>

					</div>
				</div>
			</div>
</section>
{# <!-- ------------------------END------partenaire-------------------------- --> #}


<section>
	{# <!-- -------------------------------VIDEO------------------------ --> #}
	<div class="container-fluid videoVideoHomes">
		<div class="row Video">
			<div class="col-sm-12 Box-Video">
				<div class="col-sm-12 Video-Trail">


					<video width="1903" height="1070" loop autoplay="true" muted="true" preload="auto"
						class="d-block w-100 ">
						<source src="img/Trail des Jambes Allaire 2019.mp4" type="video/mp4">
					</video>


				</div>

			</div>
		</div>
		{# <!-- ---------------------------END----VIDEO------------------------ -->

		<!-- --------------------------ACTUALITY--------------------- --> #}
		<div class="container">
			<div class="row boxActualityNew">

				{% for home in homes %}
				{% if home.id == 3 %}
				<div class="col-sm-12 col-md-6 newsActu">
					<div class="News-Trail">
						<div class="News1 mb-5">
							<h2>Notre actualité</h2>
						</div>
						<div class="News1">
							<h3>{{ home.subtitle }}</h3>
						</div>
					</div>

					<div class="boxNews">
						<div class="Paragraph-Actualite">
							<p class="Actualite">
								{{ home.description|raw }}
							</p>
						</div>
					</div>
				</div>

				{%endif %}
				{% endfor %}


				{% for home in homes %}
				{% if home.id == 4 %}
				<div class="col-sm-12 col-md-6 newsediting">
					<div class="Breaking-News">
						<h3>{{ home.subtitle }}</h3>
					</div>
					<div class="Paragraph-Breaking-News">
						<p>{{ home.description|raw  }}
						</p>
					</div>
				</div>
				{%endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>


{# <!-- ----------------END----------ACTUALITY--------------------- -->
<!-- ----------------GALERY---RUN------------- --> #}

<section class="runGallery">


	<div class="container-fluid boxInfoImg py-3">
		<h2 class="run mt-2 mb-5">LES COURSES</h2>
		<div class="row">


			<div class="col-xl-12  boxImg">
				<div class="teamChallenge">
					<div class="linkRun">
						<a href="{{ path('races_show', {'id': 6}) }}">challenge par equipe
						</a>
					</div>
				</div>

																																																																																																							                    <i class="fa fa-eye"></i>
																																																																																																			                    <a href="/" class="linkRun"></a>
																																																																																																							                </div> -->
				<div class="gallery">
					<div class="ChildrenRaces">
						<div class="linkRace">
							<a href="{{ path('races_show', {'id': 8}) }}">DUO ADULTES / ENFANTS
							</a>
						</div>
					</div>

					
																																																																																																																				                    <i class="fa fa-eye"></i>
																																																																																																																				                    <a href="/" class="linkRun"></a>
																																																																																																																                </div> -->

					<div class="run15">
						<div class="linkRun15">
							<a href="{{ path('races_show', {'id': 1}) }}">TRAIL 15 KM</a>
						</div>
					</div>

				
																																																																																																																				                    <i class="fa fa-eye"></i>
																																																																																																																				                    <a href="/" class="linkRun"></a>
																																																																																																																				                </div> -->
				</div>
			</div>

			<div class="col-sm-12 boxImg">
				<div class="gallery ">

					<div class="run9">
						<div class="linkRun9">
							<a href="{{ path('races_show', {'id': 4}) }}">TRAIL 9 KM</a>
						</div>
					</div>

				
																																																																																																																				                        <i class="fa fa-eye"></i>
																																																																																																																				                        <a href="/" class="linkRun"></a>
																																																																																																																				                    </div> -->
					<div class="run25">
						<div class="linkRun25">
							<a href="{{ path('races_show', {'id': 2}) }}">TRAIL 25 KM</a>
						</div>
					</div>

					
																																																																																																																				                        <i class="fa fa-eye"></i>
																																																																																																																				                        <a href="/" class="linkRun"></a>
																																																																																																																				                    </div> -->
				</div>

				<div class="run17">
					<div class="linkRun17">
						<a href="{{ path('races_show', {'id': 3}) }}">TRAIL 17 KM NOCTURNE</a>
					</div>
				</div>

				
																																																																																																							                    <i class="fa fa-eye"></i>
																																																																																																							                    <a href="/" class="linkRun"></a>
																																																																																																							                </div> -->

			</div>

		</div>


		<div class="row">
			<div class="col-sm-12 boxImg">
				<div class="runSociosChallenges">
					<div class="linkSociosChallenges">
						<a href="{{ path('races_show', {'id': 5}) }}">DEFIS SOCIOS</a>
					</div>
				</div>

			</div>

			<div class="col-sm-12 boxImg">
				<div class="runYoung">
					<div class="linkRunYoung">
						<a href="{{ path('races_show', {'id': 7}) }}">COURSES JEUNES</a>
					</div>
				</div>

			</div>

		</div>
	</div>
	{# <!-- ----------------END----------GALERY-------------------- --> #}
</section>


<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/weatherMap.js') }}"></script>


{# <!-- //  ----SCRIPT----COMPTEUR------  --> #}

{% for setting in settings %}
<script>
	jQuery(function ($) {

		var launch = new Date(
			"{{ setting.eventSetting ? setting.eventSetting|date('Y-m-d') : '' }}"); 
		var days = $('#days');
		var hours = $('#hours');
		var minutes = $('#minutes');
		var seconds = $('#seconds');
		setDate();

		function setDate() {

			var now = new Date();
			                                            //1000 car le GetTime sort la durée en millisecondes
			var s = ((launch.getTime() - now.getTime()) / 1000) - now.getTimezoneOffset();//différence de temps entre l'heure UTC et l'heure locale, en minutes.
			                       //86400 qui correspondent a une journée de 24 heures *60minutes*60secondes
			var d = Math.floor(s / 86400);
			days.html('<strong>' + d + '</strong>JR');
			
			s -= d * 86400;//Elimine la durée now.GetTime())
                                   //3600 qui correspondent a une heure 60minutes*60secondes
			var h = Math.floor(s / 3600);
			hours.html('<strong>' + h + '</strong>HR');
			s -= h * 3600;
                                  //60 qui correspondent a une minute 60secondes
			var m = Math.floor(s / 60);
			minutes.html('<strong>' + m + '</strong>MIN');
			s -= m * 60;
			s = Math.floor(s);
			seconds.html('<strong>' + s + '</strong>SEC');
			setTimeout(setDate, 1000);
		}

	});
</script>

<script src="{{ asset('js/alert.js') }}"></script>

{% endfor %}

{# <!--//-END---SCRIPT----COMPTEUR-------------> #}


{% endblock %}