{% extends 'base.html.twig' %}

{% block title %}Partners index{% endblock %}

{% block body %}

<div class="container">


    <h1>Partners index</h1>

    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitlePartner</th>
                <th>PicturePartner</th>
                <th>DescriptionPartner</th>
                <th>DownloadFolderPartner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.titlePartner }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ partner.picturePartner) }}" width="100"></td>
                <td>{{ partner.descriptionPartner }}</td>
                <td>{{ partner.downloadFolderPartner }}</td>
                <td>
                    <a href="{{ path('partners_show', {'id': partner.id}) }}">show</a>
                    <a href="{{ path('partners_edit', {'id': partner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partners_new') }}">Create new</a>

</div>
{% endblock %}
