{{ form_start(form) }}
{{ form_widget(form.nameContact,{'attr':{'placeholder':'Nom','class':'nameContact'}}) }}
{{ form_errors(form) }}
{{ form_widget(form.firstNameContact,{'attr':{'placeholder':'Prenom','class':'firstNameContact'}}) }}
{{ form_widget(form.emailContact,{'attr':{'placeholder':'Email','class':'emailContact'}}) }}
{{ form_widget(form.phoneContact,{'attr':{'placeholder':'Téléphone','class':'phoneContact' }}) }}
{{ form_widget(form.commentContact,{'attr':{'placeholder':'Message','class':'commentContact', 'rows' : '9' }}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
