{% extends 'base.html.twig' %}

{% block title %}Contacts index{% endblock %}

{% block body %}
    <h1>Contacts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleContact</th>
                <th>SubtitleContact</th>
                <th>NameContact</th>
                <th>FirstNameContact</th>
                <th>EmailContact</th>
                <th>PhoneContact</th>
                <th>CommentContact</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.titleContact }}</td>
                <td>{{ contact.subtitleContact }}</td>
                <td>{{ contact.nameContact }}</td>
                <td>{{ contact.firstNameContact }}</td>
                <td>{{ contact.emailContact }}</td>
                <td>{{ contact.phoneContact }}</td>
                <td>{{ contact.commentContact }}</td>
                <td>
                    <a href="{{ path('contacts_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contacts_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contacts_new') }}">Create new</a>
{% endblock %}
