{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin contacts{% endblock %}

{% block body %}
 <h1>CONTACT</h1>

    <table  id="myTable" class="table table-Default table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>EmailC</th>
                <th>Téléphone</th>
                {# <th>CommentContact</th> #}
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.nameContact }}</td>
                <td>{{ contact.firstNameContact }}</td>
                <td>{{ contact.emailContact }}</td>
                <td>{{ contact.phoneContact }}</td>
                {# <td>{{ contact.commentContact }}</td> #}
                <td>
                    {# <a href="{{ path('contacts_show', {'id': contact.id}) }}">show</a> #}
                    <a  class="edit" href="{{ path('contacts_edit', {'id': contact.id}) }}">ÉDITER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('contacts_new') }}">Create new</a>  #}




{% endblock %}